<a href="https://colab.research.google.com/github/danielamejiacastro/MLDS--Course/blob/main/Quiz_3_Pandas_Entendimiento_de_los_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = "https://drive.google.com/uc?export=view&id=1ljiY7gV0TKs3nnTMPA5UBdED8KGzzZnX" alt = "Encabezado MLDS" width = "100%">  </img>

# **Quiz 3 : Entendimiento de los datos con *pandas***
---

Este es un quiz para practicar las habilidades adquiridas usando *pandas* en el proceso de exploración y entendimiento de conjuntos de datos. Utilizaremos el [dataset Titanic](https://www.kaggle.com/c/titanic) disponible en *Kaggle*.

El conjunto de datos del Titanic cuenta con múltiples variables de la tragedia:

| Variable | Definición	| Valores |
| --- | --- | --- |
| survival | 	Supervivencia  | 	0 = No, 1 = Sí |
| pclass 	| Clase del tiquete | 	1 = 1ra, 2 = 2da, 3 = 3ra
| sex 	| Sexo 	| |
| Age |	Edad en años 	| |
| sibsp |	# de hermanos / cónyuge abordo del Titanic 	| |
| parch |	# de padres / hijos abordo del Titanic 	| |
| ticket |	Número del ticket | |
| fare 	| Costo del ticket | |
| cabin |	Número de la cabina 	| |
| embarked |	Puerto de embarque |	C = Cherbourg, Q = Queenstown, S = Southampton |

En este quiz usted debe realizar un proceso de análisis exploratorio de datos con *Pandas* con el objetivo de practicar los conceptos y sus habilidades del entendimiento de los datos.

> **Nota:** Esta tarea va a ser calificada en la plataforma **[UNCode](https://juezun.github.io/)**. Para esto, en cada ejercicio se indicará si es calificable o no, también los lugares donde debe escribir su código sin modificar lo demás con un aproximado de cantidad de líneas a escribir. No se preocupe si su código toma más líneas, esto es simplemente un aproximado destinado a que pueda replantear su estrategia si el código está tomando más de las esperadas. No es un requisito estricto y soluciones más largas también son válidas. Al finalizar, para realizar el envío (*submission*), descargue el notebook como un archivo **`.ipynb`** y haga su entrega a través de la plataforma de aprendizaje.

Ejecute la siguiente celda para importar *pandas*.

In [1]:
# Importar pandas
import pandas as pd

In [2]:
#TEST_CELL
!python --version
print('Pandas', pd.__version__)

Python 3.12.2
Pandas 2.2.1

Este material fue realizado con las siguientes versiones:

- Python 3.10.6
- pandas 1.5.3

## **0.  Leer el archivo de datos**
---
> **IMPORTANTE:**

  1. Por favor descargue el archivo con el conjunto de datos desde el siguiente enlace: **[titanic.csv](https://raw.githubusercontent.com/JuezUN/datasets/master/titanic.csv)**.
  
  2. En el enlace, haga clic derecho y seleccione la opción **"Guardar como..."**.

  3. Cargue este archivo en su sistema de archivos de **Google Colaboratory**. Para hacer esto:
    
    * Haga clic donde aparece el icono del directorio en la parte izquierda de la ventana en *Google Colaboratory* (resaltado en azul en la siguiente imagen con el número 1).
    * Después, haga clic en el icono **"Subir"** (resaltado en azul en la siguiente imagen con el número 2).
    * Seleccione el archivo **`titanic.csv`** que previamente descargó y haga clic en **"Aceptar"**.

<img src = "https://drive.google.com/uc?export=view&id=13W59jfdOpAn_DYIjpXt4WPBZiU7BlRGY" alt = "Sistema archivos colab" width = "70%">  </img>

4. Ejecute la siguiente celda para cargar el conjunto de datos dentro del DataFrame de *pandas* llamado **`df`**:

In [3]:
### EJECUTAR ESTA CELDA SIN MODIFICARLA. SI FALLA, DEBE SEGUIR EL PROCEDIMIENTO DESCRITO ANTES.
df = pd.read_csv('titanic.csv')

No se preocupe por el archivo del dataset en ***UNCode***, el ambiente de calificación ya cuenta con este archivo para calificar sus ejercicios.

## **1. Tipos de variables**
---
Usted deberá identificar y explorar los diferentes tipos de variables (columnas) del conjunto de datos y guardar las respuestas solicitadas en las variables solicitadas en cada punto.

Utilice las siguientes celdas para explorar libremente el conjunto de datos utilizando *pandas*. Después, consigne sus respuestas en las preguntas que aparece más adelante.

In [20]:
#TEST_CELL
### ESCRIBA SU CÓDIGO AQUÍ ###

# Verifico las primeras filas del Dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
#TEST_CELL
### ESCRIBA SU CÓDIGO AQUÍ ###

# Informacion general del DataSet, tipos de variables y conteo de valores no nulos
info_data = df.info()



# Imprimimos los resultados
print("Información general del conjunto de datos:")
print(info_data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Información general del conjunto de datos:
None

Descripción estadística del conjunto de datos:
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

Muestra de datos:
     PassengerId  Survived  Pclass  \
779          780         1       1
812          813         0       2
754          755         1       2
664          665         1       3
668          669         0       3

                                                  Name     Sex   Age  SibSp  \
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0
812                          Slemen, Mr. Richard James    male  35.0      0
754                   Herman, Mrs. Samuel (Jane Laver)  female  48.0      1
664                        Lindqvist, Mr. Eino William    male  20.0      1
668                                    Cook, Mr. Jacob    male  43.0      0

     Parch             Ticket      Fare Cabin Embarked
779      1              24160  211.3375    B3        S
812      0              28206   10.5000   NaN        S
754      2             220845   65.0000   NaN        S
664      0  STON/O 2. 3101285    7.9250   NaN        S
668      0           A/5 3536    8.0500   NaN        S

Valores únicos por columna:
PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Valores nulos por columna:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Porcentaje de valores nulos por columna:
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [15]:
# Descripción estadística del DataSet
description = df.describe(include='all')

print("\nDescripción estadística del conjunto de datos:")
print(description)

Descripción estadística del conjunto de datos:
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

In [16]:
# Veo los primeros registros del DataSet
sample_data = df.sample(5)

print("\nMuestra de datos:")
print(sample_data)

Muestra de datos:
     PassengerId  Survived  Pclass                        Name     Sex   Age  \
487          488         0       1     Kent, Mr. Edward Austin    male  58.0
70            71         0       2  Jenkin, Mr. Stephen Curnow    male  32.0
170          171         0       1   Van der hoef, Mr. Wyckoff    male  61.0
534          535         0       3         Cacic, Miss. Marija  female  30.0
67            68         0       3    Crease, Mr. Ernest James    male  19.0

     SibSp  Parch      Ticket     Fare Cabin Embarked
487      0      0       11771  29.7000   B37        C
70       0      0  C.A. 33111  10.5000   NaN        S
170      0      0      111240  33.5000   B19        S
534      0      0      315084   8.6625   NaN        S
67       0      0   S.P. 3464   8.1583   NaN        S

In [17]:
# Veo los valores únicos para cada columna
unique_values = df.nunique()

print("\nValores únicos por columna:")
print(unique_values)

Valores únicos por columna:
PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [18]:
# Veo la cantidad de valores nulos por columna
missing_values = df.isnull().sum()

print("\nValores nulos por columna:")
print(missing_values)

Valores nulos por columna:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [19]:
# Veo la proporción de valores nulos por columna
missing_percentage = (df.isnull().sum() / len(df)) * 100

print("\nPorcentaje de valores nulos por columna:")
print(missing_percentage)

Porcentaje de valores nulos por columna:
PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

### **1.1.  Variables con valores faltantes**
---

> **¿Qué variables tienen filas con valores faltantes?**

Llene la lista **`valores_faltantes`** con la respuesta correcta. El orden en que ponga los nombres de las variables no es importante.

La respuesta debería ser con un subconjunto de los nombres de las variables del conjunto de datos:

**`['PassengerId', 'Survived', 'Pclass',
       'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked']`**

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Para esto, puede apoyarse en las funciones de exploración de los datos como **`.describe`** o **`.info`** para identificar las variables con valores faltantes.

* Considere el total de registros en el conjunto de datos y el total de registros con valores no-nulos por cada variable para encontrar las diferencias.

In [23]:
# VARIABLE CALIFICADA valores_faltantes:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
valores_faltantes = df.columns[df.isnull().any()].tolist()
### FIN DEL CÓDIGO ###
print(valores_faltantes)

['Age', 'Cabin', 'Embarked']

### **1.2.  Variables categóricas**
---

> **¿Qué variables tienen valores categóricos?**

Llene la lista **`categoricas`** con la respuesta correcta. El orden en que ponga los nombres de las variables no es importante.

La respuesta debería ser un subconjunto de todas las variables del conjunto de datos:

**`['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']`**

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Para esto, puede apoyarse en las funciones de exploración de los datos para identificar las variables con valores categóricos. Por ejemplo: la columna **'Sex'** puede tener únicamente los valores **'female'** y **'male'**.

* Considere como valores categóricos aquellos que puedan representar características del pasajero o grupos a los que pertenezca.

* Aunque la variable sea cargada como un número, es posible que represente una variable categórica.

In [24]:
# VARIABLE CALIFICADA categoricas:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
categoricas = df.select_dtypes(include=['object']).columns.tolist()
### FIN DEL CÓDIGO ###
print("\nVariables categóricas:", categoricas)

Variables categóricas: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

### **1.3.  Conteos de embarques**
---

> **¿Cuántos pasajeros embarcaron en cada uno de los puertos?**

Llene la lista **`embarcaron`** con la respuesta correcta. El orden en que ponga los números de pasajeros que embarcaron en cada uno de los puertos no es importante.

La respuesta debería debe tener 3 valores numéricos correspondientes al número de personas que embarcaron en:
* *Southampton* (S)
*  *Cherbourg* (C)
* *Queenstown* (Q)

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* En este ejercicio deberá llenar la lista de manera manual. Debe ayudarse para encontrar los resultados usando las funciones de explicación de datos. Recuerde que *pandas* proporciona una función que realiza los conteos de los datos categóricos almacenados en una variable.

* Recuerde que la columna **'Embarked'** almacena los datos acerca del puerto de embarque de los pasajeros.

In [26]:
# VARIABLE CALIFICADA embarcaron:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
embarcaron = df['Embarked'].value_counts().tolist()
### FIN DEL CÓDIGO ###
print(embarcaron)

[644, 168, 77]

## **2. Supervivencia**
---
El conjunto de datos *Titanic* cuenta con la variable **`Survived`**. Esta indica quiénes sobrevivieron a la tragedia, representando a los sobrevivientes con valor igual a $1$ y las víctimas con el valor $0$.

Nos interesa saber qué variables influyeron más en la supervivencia de una persona.

* Por cada variable numérica encuentre el valor medio de aquellos que sobrevivieron.

* En el caso de la variable categórica **`Sex`**, encuentre los valores de la proporción de sobrevivientes para mujeres (*female*) y hombres (*male*).

### **2.1. Supervivencia en variables numéricas**
---

Encontrar el valor medio de todas las variables numéricas para aquellos que sobrevivieron.

Aunque es posible obtener el resultado en una sola línea de código, se recomienda primero calcular los promedios de las variables numéricas para ambos grupos de pasajeros: los que sobrevivieron y los que no, y posteriormente, seleccionar los promedios de los que sobrevivieron. Por lo anterior, este ejercicio se divide en dos partes.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Recuerde que puede conformar grupos a partir de variables o condiciones con el uso de la función **`groupby`** para después realizar operaciones de agregación como el promedio **`mean`** o la suma **`sum`**.
* Para este ejercicio deberá considerar las variables con valores numéricos, incluso si son interpretadas como variables categóricas. Delegue esta decisión a *pandas* y sus funciones que sólo operan con valores numéricos.

Primero, encuentre los promedios de las variables numéricas para ambos grupos de pasajeros: sobrevivientes y no sobrevivientes.
> **Nota**: Tenga en cuenta que el tipo de dato que se solicita es un objeto ***Dataframe*** llamado **'promedios_por_grupo'**.

In [28]:
# VARIABLE CALIFICADA promedios_por_grupo:

### ESCRIBA SU CÓDIGO AQUÍ ### ~ 1 linea
promedios_por_grupo = df.groupby('Survived').mean(numeric_only=True) # Reemplace el DataFrame vacío por la respuesta correcta.
### FIN DEL CÓDIGO ###

In [29]:
#TEST_CELL
#CELDA DE PRUEBAS
promedios_por_grupo > 10

          PassengerId  Pclass   Age  SibSp  Parch  Fare
Survived
0                True   False  True  False  False  True
1                True   False  True  False  False  True

**Salida esperada:**

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Pclass</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
    </tr>
    <tr>
      <th>Survived</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
    <tr>
      <th>1</th>
      <td>True</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>True</td>
    </tr>
  </tbody>
</table>

Ahora debe seleccionar los promedios del grupo que sobrevivió. Por ejemplo, para aquellos que sobrevivieron el promedio de edad (variable **`Age`**) es aproximadamente **`28.343690`** años.

Al interpretar los resultados puede ignorar la variable **`PassengerId`** que, aunque es un valor numérico, es usada como identificador. En cambio, podría ser interesante comparar las diferencias en las tarifas (**`Fare`**) entre ambos grupos.

Deje los promedios obtenidos por variable en un objeto *Series* de *pandas* llamado **`supervivencia_numericas`**.


> **Nota:** Tenga presente que el tipo de dato que se solicita es un objeto ***Series***.

In [31]:
# VARIABLE CALIFICADA supervivencia_numericas:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
supervivencia_numericas = promedios_por_grupo.loc[1] # Reemplace el objeto Series vacío por la respuesta correcta.
### FIN DEL CÓDIGO ###

In [32]:
#TEST_CELL
supervivencia_numericas.astype(int)

PassengerId    444
Pclass           1
Age             28
SibSp            0
Parch            0
Fare            48
Name: 1, dtype: int32

**Salida esperada:**
```python
PassengerId    444
Pclass           1
Age             28
SibSp            0
Parch            0
Fare            48
Name: 1, dtype: int64
```

### **2.2. Supervivencia en variables categóricas**
---
Construya un objeto ***DataFrame*** de *pandas* llamado **`supervivencia_sexo`** que contenga el promedio de supervivencia en cada grupo de la variable **`Sex`**. Debe encontrar los valores de las proporciones de supervivientes para mujeres y hombres por separado. Por ejemplo, si hubieran $3$ mujeres sobrevivientes de un total de $4$ mujeres, y $2$ hombres sobrevivientes de un total de $4$ hombres; las proporciones correspondientes serían: **`female: 0.75`** y **`male: 0.5`**.

Puede utilizar la siguiente celda para encontrar los valores correspondientes y ponerlos en el ***DataFrame*** **`supervivencia_sexo`**.

> **Nota:** Tenga presente que el tipo de dato que se solicita es un ***DataFrame***.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Recuerde que puede conformar grupos a partir de variables o condiciones con el uso de la función **`groupby`** para después realizar operaciones de agregación como el promedio **`mean`** o la suma **`sum`**.
* La proporción de una variable de valores binarios ($0$ o $1$) puede ser obtenida a partir del promedio, suponiendo los valores en $1$ como las instancias que hacen parte de la proporción, y los que están en $0$ las que no.

In [33]:
# VARIABLE CALIFICADA supervivencia_sexo:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1-2 líneas de código)
supervivencia_sexo = df.groupby('Sex')['Survived'].mean().to_frame() # Reemplace el DataFrame vacío por la respuesta correcta.
### FIN DEL CÓDIGO ###

In [34]:
#TEST_CELL
(supervivencia_sexo * 100).astype(int)

        Survived
Sex
female        74
male          18

**Salida esperada:**

```python
	    Survived
Sex
female  74
male    18
```

¿Cómo se pueden interpretar estos resultados? Por favor, siempre recuerde analizar e interpretar sus hallazgos.

**¡Felicitaciones!** Ha terminado el quiz. ¡Buen trabajo!

## **Entrega**

Para entregar el notebook por favor haga lo siguiente:
1. Descargue el notebook (`Archivo` -> `Descargar .ipynb`).
2. Ingrese a la plataforma de aprendizaje.
3. Realice el envío del *notebook* que descargó en la tarea (o quiz) correspondiente.
4. Recuerde que si tiene algún error, puede hacer múltiples intentos de envío.

## **Créditos**


* **Profesor:** [Felipe Restrepo Calle](https://dis.unal.edu.co/~ferestrepoca/)
* **Asistentes docentes:**
  - Alberto Nicolai Romero Martínez
  - Miguel Angel Ortiz Marín

**Universidad Nacional de Colombia** - *Facultad de Ingeniería*